# Netbeans Stuff #
Butterfly/build/
Butterfly/nbdistdist/
Butterfly/nbproject/private/

# Class Files #
*.class

# Package Files #
*.war
*.ear
!beaglebuddy_mp3.jar
!twitter4j-core-4.0.4.jar

# Butterfly Data Files #
*.bdf
