# Netbeans Stuff #
Butterfly/build/
Butterfly/dist/
Butterfly/nbdistdist/
Butterfly/nbproject/private/

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
!beaglebuddy_mp3.jar
!twitter4j-core-4.0.4.jar

# Other #
twitter.txt
